html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

.top-navigation > .content {
    height: 4.375rem;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
    width: 60%;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}

ol, ul {
    list-style: none;
}

.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}

.top-navigation .logo {
    height: 4.375rem;
}

.top-navigation .links li a:link {
	text-decoration: none;
	color: #4c5058;
}

.top-navigation .links li a:hover {
    cursor: pointer;
    color: #4c5058;
}

.top-navigation .links li a {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.introduction {
    background-image: url('../img/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction .buttons {
    color: white;
    margin-top: 1.563rem;
    text-align: center;
}

.big-button {
    background-color: #f15a29;
    border-color: #f15a29;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    text-shadow: none;
    width: 9.688rem;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.introduction h1 {
    font-size: 3.125rem;
    margin-top: 17.5rem;
}
.introduction h1, .introduction h3 {
    color: white;
    font-weight: 300;
    text-align: center;
}

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
    color: #1d1e21;
    margin-top: 7.875rem;
    text-align: center;
}


.cases h2 {
    font-size: 2.75rem;
    font-weight: 300;
    margin: 1.625rem 0 3.125rem;
}

.cases .devices > li {
    float: left;
    width: 33.3333%;
}

.cases .devices h3 {
    font-size: 1.563rem;
    font-weight: 400;
    margin: 2.5rem 0 1.875rem;
}

/* footer style */

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.social hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eaebec -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 1.313rem 0;
}

.social .icons > li {
    border: 1px solid #eaebec;
    border-radius: 1.25rem;
    display: inline-block;
    height: 2.5rem;
    margin: 1.25rem 5px;
    padding: 0.625rem 0;
    text-align: center;
    width: 2.5rem;
}

.social .twitter {
    color: #55acee;
}

.social .copy {
    color: #838994;
    font-size: 0.9rem;
    font-weight: 300;
}
